<%= form_tag(root_path, method: "get") do %>
	<%= label_tag(:query, "Insert a verb:") %>
	<%= text_field_tag(:query) %>
	<%= submit_tag("Search") %>
<% end %>

</p> 
	Results for : "<%= @search_term %>" 
</p>

<table class="table table-hover">
	<thead>
	    <tr>
	    	<th>Infinitive</th>
	    	<th>Past</th>
	    	<th>Past particle</th>
	    	<th>Translation</th>
	    </tr>
	</thead>

	<tbody>
		
		<% @search_results.each do |result| %>							
		    <tr>    
				<td><%= result.base %></td>
				<td><%= result.past %></td>
				<td><%= result.past_particle %></td>	
				<td><%= result.translation %></td>
			</tr>			
		<% end %>

	</tbody>

</table>
		